src/test/resources/schema/consultarUltimoContrato.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="dataContato">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="consultarUltimoContatoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="outConsultarUltimoContato">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="dataContato" name="datUltimoContato"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>