src/test/resources/schema/consultaPrincipalidadeContrato.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="consultarPrincipalidadeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="outConsultarPrincipalidade">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="principalidades">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="principalidade">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:float" name="score"/>
                                                    <xs:element type="xs:string" name="faixa_principalidade"/>
                                                    <xs:element type="xs:byte" name="i_pred"/>
                                                    <xs:element type="xs:string" name="datPeriodo"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>